#cooler {
    width: 33%;
    position: absolute;
    left: 51%;
    top: 5.5%;
    transition: top 0.5s;
    z-index: 2;
}

#cooler img{
    width: 100%;
}

.coolerRemoved {
    top: -25% !important;
}

#mbWithCooler {
    position: absolute;
    top: 0;
    left: 0;
}
