/* Sizes and positions are temporary */

main {
    border: 5px solid #000;
    display: flex;
    background-color: #eee;
 }
 
 .left-side {
     width: 70%;
     height: 100%;
 }
 
 .right-side {
     width: 30%;
     height: 100%;
 }

 .device[data-name="motherBoard"] {
    width: 100%;
    height: 70%;
    background-color: #364d36;
}

.device[data-name="powerSupply"] {
    width: 50%;
    height: 30%;
    background-color: #5e5a5a;
}

.device[data-name="dataStorage"] {
    width: 100%;
    height: 100%;
    background-color: #37474F;
}

#TEST {
    background-color: #00000017;
    position: absolute;
}